* {
	padding:0;
	margin:0px;
	box-sizing:border-box;
}

:root {
	font-family: georama, garamond;
	font-size: 18px;
	scroll-behavior:smooth;
}



/* Body */

body {
	display:grid;
	grid-template:
	 "header header" auto
		"nav nav" auto
		"main aside" auto
		"footer footer" auto / 4fr 1fr;
		position:relative;

}

header {grid-area:header;}
nav {grid-area:nav;}
main {grid-area:main;}
aside {grid-area:aside;}
footer {grid-area:footer;}

/* Header */
header {
display: flex;
align-items:center;
justify-content:center;
flex-direction:column;
position:relative;
overflow:hidden;
height:50vh;
text-align:center;
}

header img:first-of-type {
	position:absolute;
	width: 100%;
	z-index:-1;
	opacity:.5;
}
header img:last-of-type {
width: 10rem;
margin-top: 1rem;
position:relative;
}

header img:last-of-type:hover {
width: 10rem;
margin-top: 1rem;
position:relative;
animation: rotate 2000ms;
}

@keyframes rotate {
	0% {transform:rotate(0deg);}
	25% {transform:rotate(25deg);}
	50% {transform:rotate(0deg);}
	75% {transform:rotate(25deg);}
	
}

header > :is(h1,p) {
	padding: .5rem;

}
header h1 {
	color:darkred;
	text-shadow: 2px 2px 1px black;
	font-size: 3rem;
	font-family:courier;
}
/*
header p {
	height: 4rem;
	font-size: 2rem;
}
header span {
	font-weight:bolder;
	animation:fonts 1s infinite;
	color:darkred;
}

@keyframes fonts {
	10% {font-family:arial;}
	20% {font-family:tahoma;}
	30% {font-family:courier;}
	40% {font-family:garamond;}
	50% {font-family:"brush script mt";}
	60% {font-family:georgia;}
	70% {font-family:consolas;}
	80% {font-family:sans-serif;}
	90% {font-family:fantasy;}
	
}

*/
/* Main */

main {
	display:grid;
	place-items:center;
}

main > .gallery {
	width:100%;
	height:100%;
	display:grid;
	grid-template-columns: repeat(5, 1fr);
	grid-auto-rows: 100px;
	grid-gap: .5rem;
	padding: .5rem;
	grid-auto-flow:dense;
}

main .gallery .item {
	width:100%;
	height:100%;
	position: relative;
	box-shadow: 2px 2px 2px black;

}

main .gallery .item .img{
	width:100%;
	height:100%;
	overflow:hidden;

}

main .gallery .item .img img {
	width: 100%;
	height:100%;
	object-fit:cover;
	object-position: 50% 100%;
	transition:transform 250ms;
	
}



main .gallery .item:hover .img img {
	transform:scale(120%);
	
}



/* Main grid */

main > .gallery > *:nth-child(5n-4) {
	grid-column: span 2;
}

main > .gallery > *:nth-child(5n-3) {
	grid-column: span 3;
}

main > .gallery > *:nth-child(3n-2) {
	grid-row: span 2;
}
main > .gallery > *:nth-child(3n-1) {
	grid-row: span 3;
}

main > .gallery > *:nth-child(13) {
	grid-row: span 3;
	grid-column: span 3;
}

main > .gallery > *:nth-child(19) {
	grid-row: span 2;
	grid-column: span 2;
}
main > .gallery > *:nth-child(21) {
	grid-row: span 2;
	grid-column: span 2;
}



/* Aside */

	aside img {
		display:block;
		max-width: 5rem;
		padding: .5rem;
	}
	
	aside div {
		position:sticky;
		top:0;
		display:flex;
		flex-direction:column;
		align-items:center;
		justify-content:flex-start;
		text-align:center;
		color:darkred;
		padding-top:1rem;


	}
	
	aside div a:last-child {
		margin: 1.5rem 0;
		padding: 1rem;
		background-color: darkred;
		color:white;
		box-shadow: 2px 2px 2px black;
		text-decoration:none;
		font-weight:bolder;
		
	}
	
	aside div a:last-child:hover {
		background-color:black;
		
	}
	
	aside div a:last-child:active {
		box-shadow:2px 2px 2px darkred;
		
	}

/* Footer */
	footer {
		display:grid;
		place-items:center;
		padding: .5rem;
		background-color:darkred;
		color:white;
	}
	

/* Lightboxes */

.lightbox {
	grid-column: 1/-1;
	position:fixed;
	top:0;
	display:none;
	justify-content:center;
	align-items:center;
	background-color:hsl(0,0%,0%,.7);
	width: 100vw;
	height:100vh;
	z-index: 99;
}


.lightbox img {
	object-fit:contain;
	max-width:100vw;
	max-height:100vh;
}

.lightbox a {
	position:fixed;
	top:1rem;
	right:1rem;
	color:lightgray;
	font-size: 3rem;
	text-decoration:none;
	font-family: consolas;
	font-weight:lighter;

}

.lightbox:target {
	display:flex;
}

.lightbox a:hover {
	color:white;
	text-shadow:2px 2px 5px black;
}


/* Media */


@media (max-width: 650px){
	main .gallery {
	grid-template-columns: 1fr 1fr 1fr;
	grid-auto-rows: 1fr;
	}
	
	main .gallery > .item{
		grid-column: span 1;
	}
	
	main .gallery > .item:nth-child(23){
		grid-row: span 1;
	}
	
	header p {
		font-size: 1.5rem;
	}
}

@media (max-width: 500px) {
		
	body {
		grid-template-areas:
		"header header"
		"main main"
		"aside aside"
		"footer footer";
	}
	
	aside a:last-child {
		position:fixed;
		bottom:1rem;
		right:1rem;
		opacity: .7;
	}
	
	aside a:last-child:hover {
		position:fixed;
		bottom:1rem;
		right:1rem;
		opacity: 1;
	}
}


